<div self="size-x1" layout="row center-left" class="first-row mdl-color--primary-dark mdl-color-text--white">
    <div class="title" layout="row center-left" self="size-x1">
        <a data-ui-field="menu-button" class="menu-toggle mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
            <i class="material-icons">menu</i>
        </a>
        <div class="logo truncate">{{app.title}}</div>
    </div>
    <div self="sm-hide" class="channels">
        <a title="Community Forum on Google Plus" href="https://plus.google.com/communities/116563910167155544886" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--blue-50 mdl-js-ripple-effect mdl-shadow--2dp">
            <img src="images/fab-google-plus.png">
        </a>
        <a title="How-to videos on YouTube" href="https://www.youtube.com/user/geniebby" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--blue-50 mdl-js-ripple-effect mdl-shadow--2dp">
            <img src="images/fab-youtube.png">
        </a>
        <a title="Source Code on GitHUB" href="https://github.com/genielabs/HomeGenie" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--blue-50 mdl-js-ripple-effect mdl-shadow--2dp">
            <img src="images/fab-github.png">
        </a>
    </div>
</div>
<div layout="row center-center" class="second-row mdl-color--green-50 mdl-color-text--black">
    <div data-ui-field="header-title" class="subtitle truncate">Welcome</div>
</div>
